# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
weatherpy_data = pd.read_csv("output_data/city_data.csv")
weatherpy_data

,City ID,Date,Country,City,Cloudiness,Max Temp,Wind Speed,Humidity,Lat,Lng
0,0,2021-04-16,NZ,Bluff,100,42.01,5.99,94,-46.6000,168.3333
1,1,2021-04-16,US,North Bend,75,71.01,6.91,87,43.4065,-124.2243
2,2,2021-04-16,RU,Saskylakh,100,11.19,15.28,94,71.9167,114.0833
3,3,2021-04-16,GL,Nanortalik,63,21.88,48.45,51,60.1432,-45.2371
4,4,2021-04-16,LK,Moratuwa,20,78.80,2.30,83,6.7730,79.8816
...,...,...,...,...,...,...,...,...,...,...
574,574,2021-04-16,CA,Matagami,1,46.40,11.50,61,49.7502,-77.6328
575,575,2021-04-16,PH,San Policarpo,100,80.17,10.58,82,12.1791,125.5072
576,576,2021-04-16,IN,Dohad,0,83.64,11.14,25,22.8333,74.2667
577,577,2021-04-16,SV,Puerto El Triunfo,40,95.00,2.30,38,13.2833,-88.5500
578,578,2021-04-16,GW,Bubaque,2,77.13,18.32,76,11.2833,-15.8333

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weatherpy_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weatherpy_data["Humidity"]

In [20]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
# Narrow down cities: wind speed < 10 mph, cloudiness = 0 and max temp <> 75 and 90
narrowed_city_df = weatherpy_data.loc[(weatherpy_data["Wind Speed"] <= 10) & (weatherpy_data["Cloudiness"] == 0) & \
                                   (weatherpy_data["Max Temp"] >= 75) & (weatherpy_data["Max Temp"] <= 90)].dropna()

narrowed_city_df

,City ID,Date,Country,City,Cloudiness,Max Temp,Wind Speed,Humidity,Lat,Lng
63,63,2021-04-16,SO,Bosaso,0,80.91,2.17,69,11.2842,49.1816
66,66,2021-04-16,EG,Aswān,0,85.24,8.63,9,24.0934,32.9070
84,84,2021-04-16,RE,Saint-Philippe,0,77.00,5.75,78,-21.3585,55.7679
402,402,2021-04-16,AO,Mossamedes,0,81.39,8.16,70,-15.1961,12.1522
469,469,2021-04-16,SO,Bandarbeyla,0,81.27,9.51,72,9.4942,50.8122
529,529,2021-04-16,OM,Salalah,0,82.40,4.61,74,17.0151,54.0924
557,557,2021-04-16,RE,Saint-Pierre,0,77.00,5.75,78,-21.3393,55.4781

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add Hotel column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Print result
hotel_df

               City Country      Lat      Lng Hotel Name
63           Bosaso      SO  11.2842  49.1816
66            Aswān      EG  24.0934  32.9070
84   Saint-Philippe      RE -21.3585  55.7679
402      Mossamedes      AO -15.1961  12.1522
469     Bandarbeyla      SO   9.4942  50.8122
529         Salalah      OM  17.0151  54.0924
557    Saint-Pierre      RE -21.3393  55.4781

In [38]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [42]:
for index, row in hotel_df.iterrows():
    # get city name
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params 
    params["location"] = f"{lat},{lng}"

    # Make API request
    print(f"Retrieving Results for City ID {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save hotel name to dataframe
    try:
        print(f"Nearest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if no hotel available
    except (KeyError, IndexError):
        print("No Hotel Available.")
        
    print("-------------------")
   
    #Print searching is completed
print("----------Search Complete----------")

Retrieving Results for City ID 63: Bosaso.
Nearest hotel in Bosaso is Hotel Neyruus.
-------------------
Retrieving Results for City ID 66: Aswān.
Nearest hotel in Aswān is Sofitel Legend Old Cataract Aswan.
-------------------
Retrieving Results for City ID 84: Saint-Philippe.
Nearest hotel in Saint-Philippe is Les Embruns Du Baril.
-------------------
Retrieving Results for City ID 402: Mossamedes.
Nearest hotel in Mossamedes is iu Hotel Namibe.
-------------------
Retrieving Results for City ID 469: Bandarbeyla.
Nearest hotel in Bandarbeyla is JABIR HOTEL.
-------------------
Retrieving Results for City ID 529: Salalah.
Nearest hotel in Salalah is Star Emirates garden villas.
-------------------
Retrieving Results for City ID 557: Saint-Pierre.
Nearest hotel in Saint-Pierre is LODGE PALMAE.
-------------------
----------Search Complete----------

In [40]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
63,Bosaso,SO,11.2842,49.1816,
66,Aswān,EG,24.0934,32.9070,Sofitel Legend Old Cataract Aswan
84,Saint-Philippe,RE,-21.3585,55.7679,Les Embruns Du Baril
402,Mossamedes,AO,-15.1961,12.1522,iu Hotel Namibe
469,Bandarbeyla,SO,9.4942,50.8122,JABIR HOTEL
529,Salalah,OM,17.0151,54.0924,Star Emirates garden villas
557,Saint-Pierre,RE,-21.3393,55.4781,LODGE PALMAE

In [41]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# Marker layer and info box
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add layer to map
fig.add_layer(markers)

# Print Map
fig

Figure(layout=FigureLayout(height='420px'))